.app__skills {
    flex: 1;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;

    @media screen and (min-width: 2000px) {
        padding-top: 8rem;
    }

    @media screen and (max-width: 650px) {
        
        .experience__container{
            grid-template-columns: 1fr;

            &> .experience__frontend{
                height: 100%;
            }

            &> .experience__backend{
                height: 130%;
            }
        }

    }
}




.app__skills-info {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: 0 5%;


    h1{
        width: 25vmax;
        margin: 0 auto;
        color: var(--lightGray-color);
        font-size: 2.25vmax;
        text-align: center;
        border-radius: 2rem;
        border: 1px solid;
    }

    h2{
        text-align: center;
        color: var(--lightGray-color);
        font-size: 1.5vmax;
        text-decoration: underline;
    }


    .s-text{
        color: var(--lightGray-color);
        font-size: 1vmax;
    }

}


.experience__container{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;

}

.experience__container > div {

    background: var(--primary-color);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: all .4s ease-in-out;
}

.experience__container > div:hover {
    border-color: white;
    cursor: default;
    transform: scale(1.2);

}



.experience__details{
    display: flex;
    gap: 1rem;

    svg{
        margin-top: 6px;
    }
    
}

.experience__content {
    padding-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}
