.app__about{
    width: 100%;
    min-height: 100vh;
}

.circular--landscape { 
    display: flex;
    position: relative; 
    width: 20vmax; 
    height: 20vmax; 
    overflow: hidden; 
    border-radius: 50%;
    margin-left: 5%;
    align-items: center; 

    img {
        width: 100%; 
        object-fit: contain;
    }
} 