.app__about{
    width: 100%;
    min-height: 100vh;
    color: white;
    justify-content: center;
    margin: 0;

    h1{
        width: 25vmax;
            margin: 0 auto;
            color: var(--lightGray-color);
            font-size: 2.25vmax;
            text-align: center;
            border-radius: 2rem;
            border: 1px solid;
    }
}

